body {
    margin-left: 2em;
    margin-right: 2em;
}

.display-flex {
  display: flex; /* or inline-flex */
  flex-direction: column
}

input {
    width: 50%
}

.marginBottom{
    margin-bottom: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0px;
}

